<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1> <%=  token   %>   </h1> -->
    <input id="pass" type="password" placeholder="enter your new password">
    <button onclick="handleSubmit()">submit</button>

    <script>

        let token = '<%=  token  %>'
        console.log(token)
        let passwordTag = document.querySelector('#pass');

        const handleSubmit = async()=>{
            let val = passwordTag.value
            console.log(val)

            let res = await fetch(`http://localhost:8080/users/passwordToken/${token}`,{
                method:"POST",
                headers:{
                    'content-type':'application/json'
                },
                body:JSON.stringify({password:val})
            })

            let data = await res.json();
            console.log(data)
            document.write(`<h1 style="color:green"> ${data.msg} </h1>`)
        }
    </script>
</body>
</html>